<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/product.css"> 
</head>

<body style="background-color: #e3b1c8;">
    <header id="header">
        <nav>
            <a href="../templates/index.html">Inicio</a>
        </nav>
    </header>
    <main>
        <div id="app" class="container">
            <h1 style="background-color: black;color:#e3b1c8 ;">Productos</h1>
            <br>
            <a class="btn btn-primary" style="background-color: black;border: none;color: #e3b1c8;" href="../templates/producto_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , error al cargar la informacion</p>
                <img src="../img/pochita.jpg" alt="" width="500">
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="card-container">
                        <div class="card" v-for="producto in productos">
                            <div class="card-header">
                                <img class="card-image" :src="producto.imagen" :alt="producto.nombre">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{producto.nombre}}</h3>
                                <p class="card-info">ID: {{producto.id}}</p>
                                <p class="card-info">Precio: {{producto.precio}}</p>
                                <p class="card-info">Stock: {{producto.stock}}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary" :href="'./producto_update.html?id='+ producto.id">Editar</a>
                                <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                               
                </section>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <script>
        <!--Link de Bootstrap-->
        src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin = "anonymous"</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="../js/productos.js"></script>
</body>

</html>